.App {
  text-align: center;
}

.lyric {
  text-align: left;
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}

.YTPlaceHolder {
  text-align: center;
  display: inline-block;
  height: 390px;
  width: 640px;
  background-color: gray;
}

.container {
  margin: 20px;
}