.App {
  text-align: center;
}

.lyric {
  text-align: left;
  font-size: 10px;
  margin: 0px;
  padding: 0px;
}

.YTPlaceHolder {
  text-align: center;
  color: white;
  display: inline-block;
  height: 390px;
  width: 640px;
  line-height: 309px;
  background-color: gray;
  margin-bottom: 20px;
}

.container {
  margin: 20px;
}

.instructions {
  padding: 10px;
  text-align: left;
  background-color: lightgray;
}